body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

.container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #68217A; 
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #50155c;
}

#mensaje {
    font-size: 18px;
    font-weight: bold;
    color: #68217A; 
}

#datos {
    font-size: 16px;
    color: #333;
}

/* Estilos básicos para el contenedor principal */
/* #contenedorPrincipal {
    width: 100%;
    max-width: 600px; /* Ajusta según sea necesario */
    /* margin: 0 auto;
    padding: 20px; */


/* Estilos para el formulario principal */
/* .formulario {
    display: block; /* Asegura que el formulario esté visible por defecto */
    /* margin-bottom: 20px; */


/* Estilos para la sección de montos ingresados */
/* .montos {
    display: none; /* Oculta la sección por defecto */


/* Estilos para los mensajes */
/* #mensaje p {
    color: #333;
    margin-bottom: 10px;
} */

/* Estilos para la lista de montos ingresados */
/* #listaMonto {
    list-style-type: none;
    padding: 0;
}

#listaMonto li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
} */

